In [1]:
import numpy as np
import pandas as pd
# labels array 
labels = ['a','b','c']

# list array 
my_list = [10,20,30]

arr = np.array([10,20,30])

# dictionary 
d = {'a':10,'b':20,'c':30}
a = pd.Series(d)
a['a']
a['c']
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [2]:
pd.Series(index=labels,data=my_list)

a    10
b    20
c    30
dtype: int64

In [3]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])   
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])   
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)
pd.DataFrame?
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509